<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="/form.styles.css" />
  </head>
  <body>
    <form method="POST" action="/new">
      <h1>New Message</h1>

      <%- include("partialerror.ejs") %>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required />
      </div>
      <div class="form-group">
        <label for="text">Message</label>
        <input type="text" name="text" id="text" required />
      </div>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
